<div class="col-md-12 mt-2">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <span style="margin-right: 10px">Usted se encuentra en:</span>
      <% breadcrumbs.each do |crumb| %>
        <li class="nav-item">
          <% if crumb.link? %>
            <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
          <% else %>
            <span class="breadcrumb-page"><%= crumb.name %></span>
          <% end %>

          <% unless crumb == breadcrumbs.last %>
            <span class="breadcrumb-separator"> > </span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
</div>