<footer class="pt-4 bg-dark text-white myFooter pb-0 pt-2 mt-5">
  <div class="offset-md-1 col-md-10 col-xs-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h4 class="mb-3">Contáctanos:</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 80px;">
          <div class="d-flex flex-row">
            <div class="flex-row">
              <p><i class="fas fa-map-marker mr-2"></i>
                C/Luis Doreste Nº35 Las Palmas
              </p>
              <p><i class="far fa-clock mr-2"></i>
                08:00 - 21:00
              </p>
            </div>
            <div class="flex-row ml-4">
              <p><i class="fas fa-phone-alt mr-2"></i>
                +34 928123124 - 628303578
              </p>
              <p><i class="fas fa-envelope mr-2"></i>
                securityworld@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="offset-md-2 col-md-4 col-xs-12">
          <h4 class="mb-3">Más sobre SecurityWorld:</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
          <br>
          <span><i class="fab fa-instagram mr-2 h3 mx-2"></i>
                    </span>
          <span><i class="fab fa-youtube h3 mx-2"></i>
                    </span>
          <span><i class="fab fa-facebook h3 mx-2"></i>
                    </span>
          <span><i class="fab fa-twitter h3 mx-2"></i>
                    </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary">
    <div class="mx-auto" style="width:250px">
      <span>Copyright © Escuela de Ingeniería Informática de la ULPGC. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>