<footer class="pt-4 myFooter pb-0 pt-2 mt-5">
  <hr style="border: 2px solid blue">

  <div class="row offset-md-0 col-md-12">

     <div class="col-md-4 text-center">

       <h5 class="mb-3">Contacto</h5>
       <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">

       <div class="row">

         <div class="col-sm-6">
           <h6><strong>Contacto Dirección</strong></h6>
           <p>+34 928 12 31 24</p>
           <p>direccion.sw@gmail.com</p>
         </div>

         <div class="col-sm-6">
           <h6><strong>Contacto Administración</strong></h6>
           <p>+34 928 12 31 34</p>
           <p>admin.sw@gmail.com</p>
         </div>

       </div>

     </div>

    <div class="offset-1 col-md-2 text-center">
      <h4 class="mb-3">Dirección</h4>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">

      <div class="flex-row">
        <p><i class="mr-2"><strong>Calle:</strong></i>
          C/Luis Doreste Nº35 Las Palmas
        </p>
        <p><i class="mr-2"><strong>Horario:</strong></i>
          08:00 - 21:00
        </p>
      </div>

    </div>

    <div class="offset-2 col-md-2 text-center">
      <h4 class="mb-3">Redes sociales</h4>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">

      <div class="flex-row">
        <p>Instagram</p>
        <p>Facebook</p>
        <p>Twitter</p>
      </div>

    </div>

  </div>

  <div class="mx-auto text-center text-white" style="background-color: #202CD1">
    <span>Copyright © Escuela de Ingeniería Informática de la ULPGC. Todos los derechos reservados.</span>
  </div>

</footer>