<footer class="pt-4 myFooter pb-0 pt-2 mt-5">
  <hr style="border: 2px solid blue">

  <div class="row offset-md-0 col-md-11">

     <div class="col-xs-12 col-md-6 text-center">

       <h5 class="mb-3">Contáctanos:</h5>
       <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">

       <div class="d-flex flex-row">

         <div class="flex-row">
           <p><i class="fas fa-map-marker mr-2"></i>
             C/Luis Doreste Nº35 Las Palmas
           </p>
           <p><i class="far fa-clock mr-2"></i>
             08:00 - 21:00
           </p>
           <p><i class="fas fa-phone-alt mr-2"></i>
             +34 928123124 - 628303578
           </p>
           <p><i class="fas fa-envelope mr-2"></i>
             securityworld@gmail.com
           </p>
         </div>

       </div>
     </div>

    <div class="offset-md-2 col-md-4 col-xs-12">
      <h4 class="mb-3">Más sobre SecurityWorld:</h4>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-white" style="width: 100px;">
      <br>

      <span><i class="fab fa-instagram mr-2 h3 mx-2"></i></span>
      <span><i class="fab fa-youtube h3 mx-2"></i></span>
      <span><i class="fab fa-facebook h3 mx-2"></i></span>
      <span><i class="fab fa-twitter h3 mx-2"></i></span>
    </div>

  </div>

  <div class="mx-auto text-center text-white" style="background-color: #202CD1">
    <span>Copyright © Escuela de Ingeniería Informática de la ULPGC. Todos los derechos reservados.</span>
  </div>

</footer>