<div class="offset-0 col-md-2 myInformation">

  <ul class="col-sm-12">
    <li>Últimas noticias
      <ul>
        <li>Noticia 1</li>
        <li>Noticia 2</li>
        <li>Más información</li>
      </ul>
    </li>

    <li>Conceptos sobre seguridad que deberíamos destacar
      <ul>
        <li>Malware</li>
        <li>Phishing</li>
        <li>Más información</li>
      </ul>
    </li>

    <li>Leyes y organismos sobre seguridad
      <ul>
        <li>LSSI</li>
        <li>ENS</li>
        <li>Más información</li>
      </ul>
    </li>
  </ul>

</div>