<header class="col-md-10 col-xs-12">

  <div>
    <a href="http://127.0.0.1:3000/">
      <h1 class="text-dark">SecurityWorld</h1>
    </a>
  </div>

  <nav class="navbar-expand mt-2" style="background-color: #202CD1">

    <div class="collapse navbar-collapse">
      <ul class="col-md-12 navbar-nav mr-auto text-center">
        <%# @categories.each do |category| %>
          <li class="col-md-4 nav-item">
            <%= link_to "Empresa", categories_path, class: "nav-link text-white" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to "Hogar", categories_path, class: "nav-link text-white" %>
          </li>
          <li class="col-md-4 nav-item">
            <%= link_to "Móvil", categories_path, class: "nav-link text-white" %>
          </li>
        <%# end %>
      </ul>

    </div>
  </nav>
</header>