<!-- Noticias -->
<% if @extra_infos.id == 1 || @extra_infos.id == 2 || @extra_infos.id == 3 %>
  <h2><%= @extra_infos.nombre %></h2>
  <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <div class="col-md-10 offset-1">
    <p><%= @extra_infos.descripcion %></p>
  </div>
<% end %>
<!-- Noticias -->