<div class="row col-md-12">
  <div>
    <h2><%= @extra_info.nombre %></h2>
    <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 300px;">
  </div>

  <span>
    <%= image_tag @extra_info.image, style: "max-width: 100%; width: 500px", class: "rounded" %>
  </span>
</div>

<div class="mt-3">
  <p><%= simple_format(@extra_info.descripcion) %></p>
</div>
<%= link_to "Noticia oficial", @extra_info.enlaces, class: "nav-link" %>