<h2><%= @attack.nombre %></h2>
<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
<div class="row col-md-11" style="text-align: left; margin-left: 5px">
  <% @contents.each do |content| %>
    <% if content.attack_id == @attack.id %>
      <h5 class="text-decoration-underline"><strong><%= content.titulo %></strong></h5>
      <p class="m-0"><%= simple_format(content.informacion) %></p>
    <% end %>
  <% end %>
</div>