<div class="col-md-10 text-center mt-5">
  <h1>Categories#show</h1>

  <% @categories.each do |category| %>
    <h4><%= category.nombre %></h4>
  <% end %>

  <p>Find me in app/views/categories/show.html.erb</p>
</div>