<div class="text-center">
  <% if @extra.id == 1 || @extra.id == 2 || @extra.id == 3 || @extra.id == 4 %>
    <h2><%= @extra.nombre %></h2>
    <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto border-dark" style="width: 100px;">
  <% end %>
</div>